@media (max-width: 1280px) {
    .login-container {
        max-width: 50%;
    }
}
@media (max-width: 770px) {
    .login-container {
        max-width: 70%;
    }
}
@media (max-width: 530px) {
    .login-container {
        max-width: 100%;
    }
}