
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
    color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    width: 100%;
    max-width: 27rem;
    padding: 1rem;
}

.login-card {
    background-color: #2a2a2a;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-card a {
    text-decoration: none;
    color: #f5f5f5;
    transition: 0.2s;
    padding: 1rem;
    border-radius: 5px;
}

.login-card a:hover {
    background-color: #343a40;
}

.login-card h2 {
    margin-bottom: 1rem;
    font-size: 27pt;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    color: #aaa;
    font-size: 13.5pt;
}

.input-group input {
    width: 100%;
    padding: 1rem 1rem;
    background-color: #343a40;
    color: #f5f5f5;
    font-size: 15pt;
    box-sizing: border-box;
    border-radius: 5px;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
}

.btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 15pt;
    margin-top: 1rem;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.login-footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.login-footer a {
    color: #007bff;
    text-decoration: none;
    font-size: 13.5pt;
}

.login-footer a:hover {
    text-decoration: underline;
}
